*{
    font-family: "Arial";
}
h2{
    text-align: center;
}
.project-container{
    background-color: #0a757b;
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-bottom: 2rem;
    border-radius: 1rem;
    padding: 1.5rem;
    padding-top: 1rem;
    margin: 2rem auto;
}

.project-container h1 ,  .project-container p{
    color: white;
}
.project-container:hover{
   box-shadow:  2px 2px 4px rgb(16, 92, 124);
}

.hero-heading{
    font-size: 1.8rem;
    margin: 8px;
}

.btn{
    padding: 0.4rem 0.8rem;
    margin: 4px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
}


.btn a{
    text-decoration: none;
    color: black
}

.btn:hover a{
    /* background-color: rgb(122, 122, 241); */
    color: white;
}


.padding-top{
    padding-top: 1rem;
}

.font{
    font-family: 'Courier New', Courier, monospace;
}